/* -------------------------------------
    BODY & CONTAINER
------------------------------------- */
body {
  background-color: $body-bg;
}

.body-wrap {
  background-color: $body-bg;
  width: 100%;
}

/* -------------------------------------
    LINKS
------------------------------------- */
a {
  color: $link-color;
  text-decoration: underline;
}
