/* -------------------------------------
    ALERTS
    Change the class depending on warning email, good email or bad email
------------------------------------- */
.alert {
  font-size: 16px;
  color: #fff;
  font-weight: 500;
  padding: 20px;
  text-align: center;
  border-radius: 3px 3px 0 0;
  
  a {
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    font-size: 16px;
  }
  &.alert-warning {
    background-color: @alert-warning-bg;
  }
  &.alert-bad {
    background-color: @alert-bad-bg;
  }
  &.alert-good {
    background-color: @alert-good-bg;
  }
}
